body {
    overflow: hidden;
}

#highlight-layer-lines path,
#scheme-layer-lines path {
    stroke-width: 8;
    fill: none;
}

#scheme-layer-transfers path {
    stroke: #000;
    stroke-width: 2;
    fill: rgba(255,255,255,0.6);
}

#highlight-layer-stations circle,
#scheme-layer-stations circle {
    stroke: #000;
    stroke-width: 1;
    stroke-opacity: 0.5;
}

#scheme-layer-labels rect {
    fill: #fff;
    opacity: 0.7;
}

#scheme-layer-labels text,
#highlight-layer-labels text {
  font-family: arial,sans-serif;
  font-size: 13px;
}

#scheme-layer-labels text.checked,
#highlight-layer-labels text.checked {
  fill: red;
  font-weight: bold;
}

#scheme-layer-labels text.disabled,
#highlight-layer-labels text.disabled {
  fill: #b2b2b2;
  font-weight: 400;
}

#scheme-layer-labels text:hover,
#highlight-layer-labels text:hover {
  cursor: pointer;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

#scheme-layer-labels text.disabled:hover,
#highlight-layer-labels text.disabled:hover {
    cursor: default;
    text-shadow: none;
    text-decoration: line-through;
}

.selected-stations {
    list-style: none;
    padding-left: 10px;
}
.selected-stations .delete-station {
    width: 14px;
    height: 14px;
    display: inline-block;
    border: 1px solid red;
    line-height: 14px;
    text-align: center;
    color: red;
    border-radius: 50%;
    margin-right: 10px;
    font-weight: bold;
    cursor: pointer
}
.selected-stations .delete-station:hover {
    color: #fff;
    background: red;
}  


/* *************************************************  */
.content {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 5px;
    overflow-y: auto;
}

aside {
    flex: 1 1 250px;

    padding-right: 5px;
    width: 30vw;
}

.main {
    flex: 1 1 auto;
    width: 70vw;
}

/* drag & drop */

.map-viewport {
    width: 100%;
    height: 100%;
    max-width: 1040px;
    overflow: hidden;
    position: relative;
    border: 1px solid gray;
}

.map-wrapper {
    position: relative;
    background: #b2b2b2;
}

.map {
    background: white;
    touch-action: manipulation;
    z-index: 99;
}


/* zoom */
.zoom-buttons {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    z-index: 100;
}
.zoom-buttons button {
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 5px;
    cursor: pointer;
}
.zoom-buttons button span {
    font-size: 36px;
    line-height: 31px;
    display: block;
    height: 36px;
}

.hide-mobile-map {
    position: absolute;
    z-index: 100;
    right: 0;
    top: 0;
    margin: 5px;
    width: 36px;
    height: 36px;
    font-size: 28px;
}

.show-mobile-map, .hide-mobile-map { display: none; }

@media (max-width: 960px) {
    .content { flex-direction: column; align-items: center; }
    aside { width: 100%; }
    .main {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        right: -100vw;
        bottom: 0;
        z-index: 10;
        -webkit-transition: right 0.25s ease;
        transition: right 0.25s ease;
    }
    .main.map-active { right: 0; }
    .show-mobile-map, .hide-mobile-map { display: block; }
}